<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          <i>BookMyTicket.com</i> One platform that unites all movie-goers, a platform that offers a plethora of options when
          it comes to booking tickets. Movies, parties, events, and everything else you can imagine—BookMyTicket has it all
          covered. Booking tickets has become as easy as ABC courtesy of this venture. But turning into a successful venture
          wasn't an overnight journey for them..</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li>
            <a href="#">Theatres</a>
          </li>
          <li>
            <a href="#">Movies</a>
          </li>
          <li>
            <a href="#">F&B</a>
          </li>
          <li>
            <a href="#">Customer Care</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Contribute</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="#">BookMyTicket</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a class="twitter" href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a class="dribbble" href="#">
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a class="linkedin" href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
